[/]
desktop-effects-unmaximize-transition='easeNone'
desktop-effects-maximize-transition='easeInExpo'
applet-cache-updated=1560233099
desktop-effects-map-effect='traditional'
command-history=['wine uninstaller']
hotcorner-layout=['expo:false:0', 'scale:false:0', 'scale:false:0', 'desktop:false:0']
desktop-effects-close-effect='traditional'
desktop-effects-unmaximize-time=100
panel-zone-icon-sizes='[{"panelId": 1, "left": 0, "center": 0, "right": 0}]'
desktop-effects-map-time=100
desktop-effects-minimize-effect='traditional'
alttab-switcher-style='icons'
panels-height=['1:21']
next-applet-id=12
desktop-effects-map-transition='easeOutQuad'
desktop-effects-unmaximize-effect='none'
panels-enabled=['1:0:top']
desktop-effects-maximize-time=100
desktop-effects-tile-transition='easeInQuad'
desktop-effects-maximize-effect='none'
enabled-applets=['panel1:right:0:systray@cinnamon.org:0', 'panel1:left:0:menu@cinnamon.org:1', 'panel1:left:2:grouped-window-list@cinnamon.org:3', 'panel1:right:1:keyboard@cinnamon.org:4', 'panel1:right:2:notifications@cinnamon.org:5', 'panel1:right:3:removable-drives@cinnamon.org:6', 'panel1:right:5:bluetooth@cinnamon.org:7', 'panel1:right:6:network@cinnamon.org:8', 'panel1:right:7:sound@cinnamon.org:9', 'panel1:right:8:power@cinnamon.org:10', 'panel1:right:9:calendar@cinnamon.org:11']
desktop-effects-minimize-time=160
alttab-switcher-delay=100
desktop-effects-tile-effect='none'
desktop-effects-close-transition='easeOutQuad'
desktop-effects-minimize-transition='easeInQuad'
panel-edit-mode=false
show-media-keys-osd='large'
desktop-effects-close-time=120
desktop-effects-tile-time=100

[settings-daemon/plugins/power]
critical-battery-action='nothing'
sleep-inactive-battery-timeout=0
lock-on-suspend=false
lid-close-ac-action='nothing'
lid-close-battery-action='nothing'
sleep-display-battery=3600
sleep-display-ac=3600
sleep-inactive-ac-timeout=0

[settings-daemon/plugins/xsettings]
buttons-have-icons=false

[settings-daemon/peripherals/touchpad]
motion-threshold=1
horizontal-scrolling=true
touchpad-enabled=true

[settings-daemon/peripherals/touchscreen]
orientation-lock=false

[settings-daemon/peripherals/keyboard]
repeat-interval=uint32 30
delay=uint32 500
numlock-state='on'

[settings-daemon/peripherals/mouse]
drag-threshold=8
custom-acceleration=false
custom-threshold=true
double-click=400
motion-threshold=10

[sounds]
login-enabled=false
unplug-enabled=false
tile-enabled=false
plug-enabled=false
switch-enabled=false

[muffin]
tile-maximize=true
resize-threshold=24
tile-hud-threshold=25

[desktop/interface]
icon-theme='Mint-X-Blue'
cursor-size=24
cursor-blink-time=1200
text-scaling-factor=1.0
cursor-theme='DMZ-Black'
gtk-theme='Mint-Y-Dark-Blue'
toolkit-accessibility=true

[desktop/keybindings/custom-keybindings/custom0]
binding=['Print']
command='shutter -e'
name='shutter'

[desktop/keybindings]
looking-glass-keybinding=@as []
custom-list=['custom0']

[desktop/keybindings/media-keys]
screensaver=['<Control><Alt>l', 'XF86ScreenSaver', '<Super>l']
screenshot=@as []
volume-up=['XF86AudioRaiseVolume']

[desktop/media-handling]
autorun-x-content-start-app=['x-content/unix-software', 'x-content/bootable-media']
autorun-x-content-ignore=@as []
autorun-x-content-open-folder=['x-content/bootable-media']

[desktop/screensaver]
lock-enabled=false

[desktop/notifications]
bottom-notifications=true
display-notifications=false
remove-old=true

[desktop/session]
idle-delay=uint32 0

[desktop/wm/preferences]
min-window-opacity=30
theme='Mint-Y-Dark'
action-scroll-titlebar='shade'

[desktop/a11y/applications]
screen-keyboard-enabled=true

[desktop/sound]
volume-sound-enabled=false
event-sounds=false

[theme]
symbolic-relative-size=0.67000000000000004
theme-cache-updated=1549294514
name='Numix-Cinnamon-Transparent'